# Supabase Configuration
VITE_SUPABASE_URL=https://knftgzrgifmvjhhnrlug.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuZnRnenJnaWZtdmpoaG5ybHVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5MjU0MjksImV4cCI6MjA5NDUwMTQyOX0.IfOiV7d2jPcE3l5vKjvghk9dBJXY-4G5Oli-JS6jbWk
